:root {
    --primary-presto: rgb(231, 112, 1); /* #06a3da;*/
    --secondary-presto:#e8b172;
    --alpha-primary-presto:rgba(146, 71, 0, 0.2);
    --text-header: white;
    --text-header-contrast: black;
    --padding-big-button:10px 30px;

}



* {
    font-family: 'Noto Sans', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Rubik', sans-serif;
}


/* NAVBAR CSS */
.flip{
    animation: fa-flip;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.text-presto {
    color: var(--primary-presto);
}

.bg-presto {
    background-color: var(--primary-presto);
}

.btn-presto {
    padding: 5px 25px;
    color: var(--text-header);
    background-color: var(--primary-presto);
    border-radius: 2px;
}

.btn-presto:hover {
    background-color: var(--primary-presto);   
}

.navbar .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--text-header);
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar.bg-white .nav-link{
    color: var(--text-header-contrast);
}

.navbar .nav-item .nav-link-icon-presto {
    color: var(--primary-presto);
}


.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: var(--primary-presto);
}

.navbar .nav-item {
    position: relative;
    padding: 30px 0;
    transition: all linear 300ms;
}

.navbar .navbar-brand{
    color: var(--text-header);
}

.navbar.bg-white .navbar-brand{
    color: var(--primary-presto);
}


#mainNavbar{
border-color: rgb(255, 255, 255);
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}

.navbar-nav .nav-link.active::before {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 50%;
    content: '';
    height: 3px;
    width: 70%;
    transform: translateX(-50%);
    background-color: var(--primary-presto);
}



.navbar-nav .nav-link:hover {
    color: var(--primary-presto);
}

/* .navbar-nav .nav-item:not(.dropdown) .nav-link:hover::after {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    content: '';
    height: 3px;
    width: 100%;
    background-color: var(--primary-presto);
} */


.navbar-nav .nav-link::before{  
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 50%;
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--primary-presto);
    transform: translateX(-50%);
    transition: all linear 250ms;
}
.navbar-nav .nav-link:hover::before {
    width: 70%;
    
}
.navbar-nav .nav-link.nav-link-icon-presto:hover::before {
    width: 0;
    
}

.navbar.thin .nav-item{
    padding: 15px 0;

}

.navbar .nav-item{
    padding: 15px 0;
}

.navbar-toggler {
    padding: 5px 10px;
    border-color: var(--primary-presto);
    border-radius: 2px;
}

/* CAROUSEL CSS */

.overlay::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--alpha-primary-presto);
}



.btn-big-presto {
    padding: var(--padding-big-button);
    color: var(--text-header);
    background-color: var(--primary-presto);
    border-radius: 2px;
    z-index: 9;
}

.btn-big-presto:hover {
    color: var(--text-header-contrast);
    background-color: var(--primary-presto);
    
}

.btn-big-white-presto {
    padding: var(--padding-big-button);
    color: var(--text-header);
    border: 1px solid white;
    border-radius: 2px;
    
}

.btn-big-white-presto:hover {
    color: var(--text-header-contrast);
    background-color: white;
    
}


/* INFO CSS */
.info-presto{
    transform: translate(0%,0%);
    left: 0%;
    position: relative;

}

/* FOOTER CSS */

.text-alternative-presto{
    color: var(--secondary-presto);
}

.bg-alternative-presto{
    background-color: var(--secondary-presto);
}

.btn-alternative-presto {
    padding: 5px 25px;
    color: var(--text-header);
    background-color: var(--secondary-presto);
    border-radius: 2px;
}

.btn-alternative-presto:hover {
    background-color: var(--secondary-presto);   
}

.input-presto{
    border-radius: 2px;
}

.btn-big-alternative-presto {
    padding: var(--padding-big-button);
    color: var(--text-header);
    background-color: var(--secondary-presto);
    border-radius: 2px;
}

.btn-big-alternative-presto:hover {
    background-color: var(-secondary-presto);
    
}

#mainFooter .nav .nav-link{
    transition: transform ease-out 300ms;
}
#mainFooter .nav .nav-link:hover{
    transform: translateX(10px);
}
#mainFooter .nav .nav-link span{
    color: var(--text-header);
}
#mainFooter .nav .nav-link i{
    color: var(--primary-presto);
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: var(--primary-presto);
}
.social:hover{
    color: var(--text-header-contrast);
}
.footer-effect{
    position: relative;
    padding: 20px 0;
    margin-bottom: 20px;
}
.footer-effect::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 40%;
    height: 4px;
    background-color: var(--primary-presto);
    border-radius: 2px;
}
.footer-effect::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 5px;
    height: 4px;
    background-color: whitesmoke;
    border-radius: 2px;
    z-index: 1;
    animation-name: dot;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


@keyframes dot {
   from{
    left: 0;
   }
   to{
    left: 40%;
   }
}